## RandomForest Classifier Implementation With Pipelines And Hyperparameter Tuning

In [214]:
import pandas as pd

In [215]:
import seaborn as sns
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [216]:
## Handling Missing Values
## handling Categorical features
## handling outliers
## Feature scaling
## Automating the entire

In [217]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [218]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [220]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
X_encoded = pd.get_dummies(df, columns=['sex', 'smoker', 'day', 'time'])

In [222]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [226]:
# Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder

# Assuming your dataset is named 'df'
# Perform one-hot encoding for categorical variables
df_encoded = pd.get_dummies(df, columns=['sex', 'smoker', 'day', 'time'])

# Split the data into features (X) and target variable (y)
X = df_encoded[['tip', 'sex_Female', 'sex_Male', 'smoker_No', 'smoker_Yes', 'day_Thur',	'day_Fri',	'day_Sat',	'day_Sun',	'time_Lunch',	'time_Dinner', 'time_Lunch', 'time_Dinner', 'size']]
y = df_encoded['total_bill']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Instantiate the linear regression model
model = LinearRegression()

# Fit the model
model.fit(X_train, y_train)

# Make predictions
predictions = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 31.87363555072992

In [253]:
import seaborn as sns
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [254]:
## independent and dependent feature
X = df.drop(labels=['total_bill'],axis=1)
y = df['total_bill']

In [255]:
from sklearn.model_selection import train_test_split
X_train , X_test, y_train, y_test = train_test_split(X,y,test_size=0.20,random_state=42)

In [256]:
X_train.head()

      tip   sex smoker   day    time  size
228  2.72  Male     No   Sat  Dinner     2
208  2.03  Male    Yes   Sat  Dinner     2
96   4.00  Male    Yes   Fri  Dinner     2
167  4.50  Male     No   Sun  Dinner     4
84   2.03  Male     No  Thur   Lunch     2

In [257]:
## Handling Missing Values
## handling Categorical features
## handling outliers
## Feature scaling
## Automating the entire

In [258]:
from sklearn.impute import SimpleImputer ## Handling missing values
from sklearn.preprocessing import OneHotEncoder ## Handling categorical feature
from sklearn.preprocessing import StandardScaler ## Feature scaling
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
## Automating the entire

In [259]:
categorical_cols = ['sex','smoker','day','time']
numerical_cols = ['tip','size']

In [260]:
## Feature Engineering Automation

num_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='median')), ## missing values
        ('scaler',StandardScaler()) ## Feature scaling
    ]
)

#categorical Pipeline
cat_pipeline = Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),  ## handling Missing values
        ("onehotencoder", OneHotEncoder()) ## Categorical feature to numerical
    ]
)

In [261]:
preprocessor = ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorical_cols)
])

In [262]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [268]:
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

In [269]:
## Automate model Training Process

models={
    "Linear Regression" : LinearRegression(),
    "MFNNS" : MLPRegressor(),
    "Random Forest" : RandomForestRegressor(),
    "SVR" : SVR()

}

In [270]:
from sklearn.metrics import r2_score

In [271]:
def evaluate_model(X_train,y_train,X_test,y_test,models):
    
    report = {}
    for i in range(len(models)):
        model = list(models.values())[i]
        ## Train model
        model.fit(X_train,y_train)
        
        # predict testing data
        y_test_pred = model.predict(X_test)
        
        # calculate accuracy and precision
        test_model_score = r2_score(y_test,y_test_pred)
        
        report[list(models.keys())[i]] = test_model_score
        
    return report

In [272]:
evaluate_model(X_train,y_train,X_test,y_test,models)

c:\Users\shrun\.conda\envs\butterfly\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

{'Linear Regression': 0.6240808714290966,
 'MFNNS': 0.6336565984640741,
 'Random Forest': 0.48749794019535164,
 'SVR': 0.4509552360836214}