In [1]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://pwskills:pwskills@cluster0.j6rcf0z.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

ModuleNotFoundError: No module named 'pymongo'

In [10]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.j6rcf0z.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 16.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 39.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
client

MongoClient(host=['ac-hlzihnq-shard-00-01.j6rcf0z.mongodb.net:27017', 'ac-hlzihnq-shard-00-00.j6rcf0z.mongodb.net:27017', 'ac-hlzihnq-shard-00-02.j6rcf0z.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-gd8pen-shard-0', tls=True)

In [11]:
db = client['pwskills'] # database , db is local variable name

In [12]:
coll_create = db["my_record"] # coolection - its like creating table - but it is no sql

In [13]:
data= {
    "name"  : "shrungadithya",
    "class" : "Data science",
    "timing" : "flexi"

} # document

In [14]:
coll_create.insert_one(data)

In [15]:
data1 = {
    "mail_id" : "adhi@gmail.com",
    "phone_number" : 6228658225    
}

In [16]:
coll_create.insert_one(data1)

In [17]:
data2 = {
    "list_course" : ["data science ","web dev","java with DSA"],
    "mentor" : ["sudhanshu", "krish nayik", "naveen reddy"]
}

In [18]:
coll_create.insert_one(data2)

In [19]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [20]:
coll_create.insert_many(data3)

In [25]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [27]:
coll_create.insert_one(data4)

In [28]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [29]:
coll_create.insert_many(list_of_records)

In [30]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('648c3c1d5b533d89dc1a6670'), 'name': 'shrungadithya', 'class': 'Data science', 'timing': 'flexi'}
{'_id': ObjectId('648c3d0a5b533d89dc1a6671'), 'mail_id': 'adhi@gmail.com', 'phone_number': 6228658225}
{'_id': ObjectId('648c3e015b533d89dc1a6672'), 'list_course': ['data science ', 'web dev', 'java with DSA'], 'mentor': ['sudhanshu', 'krish nayik', 'naveen reddy']}
{'_id': ObjectId('648c3f2f5b533d89dc1a6673'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6674'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6675'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6676'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6677'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6678'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6679'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648c40355b533d89dc1a667f'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('648c40855b533d89dc1a6680'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('648c40855b533d89dc1a6681'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('648c40855b533d89dc1a6682'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [31]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [32]:
coll_create.insert_many(random_data)

In [33]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('648c3c1d5b533d89dc1a6670'), 'name': 'shrungadithya', 'class': 'Data science', 'timing': 'flexi'}
{'_id': ObjectId('648c3d0a5b533d89dc1a6671'), 'mail_id': 'adhi@gmail.com', 'phone_number': 6228658225}
{'_id': ObjectId('648c3e015b533d89dc1a6672'), 'list_course': ['data science ', 'web dev', 'java with DSA'], 'mentor': ['sudhanshu', 'krish nayik', 'naveen reddy']}
{'_id': ObjectId('648c3f2f5b533d89dc1a6673'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6674'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6675'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6676'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6677'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6678'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6679'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648c40355b533d89dc1a667f'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('648c40855b533d89dc1a6680'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('648c40855b533d89dc1a6681'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('648c40855b533d89dc1a6682'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [34]:
coll_create.find_one()

{'_id': ObjectId('648c3c1d5b533d89dc1a6670'),
 'name': 'shrungadithya',
 'class': 'Data science',
 'timing': 'flexi'}

In [37]:
for i in coll_create.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': ObjectId('648c40855b533d89dc1a6680'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('648c40855b533d89dc1a6681'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('648c40855b533d89dc1a6682'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [40]:
for i in coll_create.find({"_id":{"$gte":'4'}}):
                          print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [41]:
coll_create.update_many({'companyName': 'iNeuron'},{"$set":{'companyName': 'iNeuron'}})

In [42]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('648c3c1d5b533d89dc1a6670'), 'name': 'shrungadithya', 'class': 'Data science', 'timing': 'flexi'}
{'_id': ObjectId('648c3d0a5b533d89dc1a6671'), 'mail_id': 'adhi@gmail.com', 'phone_number': 6228658225}
{'_id': ObjectId('648c3e015b533d89dc1a6672'), 'list_course': ['data science ', 'web dev', 'java with DSA'], 'mentor': ['sudhanshu', 'krish nayik', 'naveen reddy']}
{'_id': ObjectId('648c3f2f5b533d89dc1a6673'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6674'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6675'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6676'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6677'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6678'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648c3f2f5b533d89dc1a6679'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648c3f2f5b533d89dc1a667e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648c40355b533d89dc1a667f'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('648c40855b533d89dc1a6680'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('648c40855b533d89dc1a6681'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('648c40855b533d89dc1a6682'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [43]:
coll_create.drop()

In [44]:
for i in coll_create.find():
    print(i)

In [1]:
for i in coll_create.find():
    print(i)

NameError: name 'coll_create' is not defined

In [2]:
print("MongoDB")

MongoDB

# SQL

mysql

Mssql

Db2

oracle