# Measures of Dispersion

## Variance

In [2]:
age_lst = [32,45,21,36,24,26,85,45,65,31]

In [3]:
import numpy as np

In [4]:
mean = np.mean(age_lst)

In [5]:
mean

41.0

In [6]:
var = np.var(age_lst)

In [7]:
var

366.4

In [8]:
std = np.std(age_lst)

In [9]:
std

19.14157778240864

In [10]:
import pandas as pd

In [11]:
data = [[32,21,25],[36,12,45],[85,45,65]]

In [12]:
data

[[32, 21, 25], [36, 12, 45], [85, 45, 65]]

In [13]:
df = pd.DataFrame(data,columns=["A","B","C"])

In [14]:
df

    A   B   C
0  32  21  25
1  36  12  45
2  85  45  65

In [15]:
# Columns wise
df.var()

A    871.0
B    291.0
C    400.0
dtype: float64

In [16]:
# Row wise
df.var(axis=1)

0     31.0
1    291.0
2    400.0
dtype: float64

In [17]:
df

    A   B   C
0  32  21  25
1  36  12  45
2  85  45  65

In [18]:
df

    A   B   C
0  32  21  25
1  36  12  45
2  85  45  65