In [2]:
def test():

SyntaxError: incomplete input (2690612609.py, line 2)

In [3]:
def test():
    pass

In [4]:
def test1():
    print("This is my first funcation")

In [5]:
test1()

This is my first funcation

In [6]:
test1 + "Adhi"

TypeError: unsupported operand type(s) for +: 'function' and 'str'

In [7]:
def test2():
    return "This is the return function"

In [8]:
test2()

'This is the return function'

In [9]:
test2() + "Adhi"

'This is the return functionAdhi'

In [10]:
def test3():
    return 1,4,"pwskills",2.2

In [12]:
test3()

(1, 4, 'pwskills', 2.2)

In [13]:
a = 1,2,3,4

In [14]:
a

(1, 2, 3, 4)

In [15]:
a,b,c,d = 1,2,3,4

In [16]:
a

1

In [17]:
b

2

In [19]:
c

3

In [20]:
test3()[0]

1

In [21]:
test3()[2]

'pwskills'

In [22]:
x,y,z,g = test3()

In [23]:
x

1

In [24]:
def test4():
    a = 2*4+8/2
    return a

In [25]:
test4()

12.0

In [27]:
type(test4())

float

In [38]:
def test5(a,b):
    c = a + b
    return c

In [39]:
test5(4,5)

9

In [42]:
test5("ram","sham")

'ramsham'

In [43]:
test5([1,2,3,4],[6,5,4,3])

[1, 2, 3, 4, 6, 5, 4, 3]

In [44]:
test5(b="sham",a="new")

'newsham'

In [50]:
l = [1,2,3,4,5,"Adhi","ram",[6,5,4,3,2]]

In [51]:
# create a function which will take list as a input and give as a final list with the numeric value

In [54]:
def test6(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [55]:
test6(l)

[1, 2, 3, 4, 5]

In [56]:
l

[1, 2, 3, 4, 5, 'Adhi', 'ram', [6, 5, 4, 3, 2]]

In [64]:
def test7(a):
    n = []
    for i in a :
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [65]:
test7(l)

[1, 2, 3, 4, 5, 6, 5, 4, 3, 2]

In [66]:
l

[1, 2, 3, 4, 5, 'Adhi', 'ram', [6, 5, 4, 3, 2]]