In [1]:
a = 10

In [2]:
a = "g"

In [3]:
a

'g'

In [4]:
type(a)

str

Type casting

In [5]:
int()

0

In [6]:
int("123")

123

In [7]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [10]:
print() #Shift + tab

Sys.stdout ---- output console

In [11]:
print("Hello")

Hello

In [12]:
print(123)

123

In [13]:
age  = 21 #variable
print("my age is ",age)

my age is  21

Format specifier

In [15]:
print("my age is : {age}")

my age is : {age}

In [16]:
print(f"my age is : {age}")

my age is : 21

Format()

In [18]:
## Format()
name = "shrungadithya"
age = 21
print("my name is {} and my age is {}".format(name,age))

my name is shrungadithya and my age is 21

In [21]:
## Format()
name = "shrungadithya"
age = 21
print("my name is {} and my age is {}".format(age,name))

my name is 21 and my age is shrungadithya

In [22]:
# placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is shrungadithya and age is 21

In [23]:
name = "shrungadithya"
age = 21
degree = "Bvoc"

print("My age is {} and I have completed: My degree of {} with the name of {}".format(age,degree,name))

My age is 21 and I have completed: My degree of Bvoc with the name of shrungadithya

In [24]:
name = "shrungadithya"
age = 21
degree = "Bvoc"

print(f"My age is {age} and I have completed: My degree of {degree} with the name of {name}")

My age is 21 and I have completed: My degree of Bvoc with the name of shrungadithya

In [25]:
name = "shrungadithya"
age = 21
degree = "Bvoc"

print("My age is ",age," and I have completed: My degree of ",degree," with the name of",name)

My age is  21  and I have completed: My degree of  Bvoc  with the name of shrungadithya

## Control Flow
### Decision making statement

In [31]:
# If statement
# ==, <=, >=

age = 10

if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are not eligible to vote

In [32]:
# If statement
# ==, <=, >=

age = int(input("Enter the age"))

if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

In [34]:
age = int(input("Enter the age"))

if age >=18 and age <= 45:
    print(" you are young boolded")

 you are young boolded

In [17]:
product = int(input("Enter the product prize"))

if product > 1000 :
    print("The price of the product is {}".format(product*0.8))
else:
    print("The price of the product is {}".format(product*0.7))

The price of the product is 960.0

In [10]:
1200*0.8

960.0

In [11]:
100-80

20

In [14]:
55/100 * 7500

4125.0

In [21]:
(80 / 100 )

0.8

In [28]:
product_price = int(input("Enter the price :"))
if product_price > 3000:
    if product_price == 4000:
        print("Congratulation you get an goa trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price >= 2000 and product_price <=3000:
    if product_price <= 2999:
        print("Congratulation you get additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price <=1000 and product_price <2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Enjoy shopping ,more")

Congratulation you get an goa trip
The price of the product is 3200.0

In [30]:
# single statement
val = int(input("Enter the number:"))
if(val <= 999 ): print("Value is less then or equal to 999")

Value is less then or equal to 999

While loop

In [31]:
joining_age = 25
while joining_age <= 60:
    print(joining_age)
    joining_age += 1
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [32]:
# ATM machine with 1000Rs

total_amount = 1000
while total_amount !=0:
    total_amount = total_amount - 100
    print(total_amount)
else:
    print("Yo ")

900
800
700
600
500
400
300
200
100
0

For loop

In [33]:
list = ['adhi',20.02, 50]

In [34]:
list[0]

'adhi'

In [35]:
#FDd loop
list = ['adhi',20.02, 50]
# x is the temprary element
# Itreate or travers
for x in list:
    print(x)

adhi
20.02
50

In [37]:
name  = ["ram","adhi","raj","shiv"]

for i in name:
    print(i)
    if i == "adhi":
        print("Hii Adhi")

ram
adhi
Hii Adhi
raj
shiv

In [40]:
name = "shrungadithya"
for i in name:
    print(i)

s
h
r
u
n
g
a
d
i
t
h
y
a