In [5]:
a = 10

In [6]:
a = "g"

In [7]:
a

'g'

In [8]:
type(a)

str

Type casting

In [9]:
int()

0

In [10]:
int("123")

123

In [11]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
print() #Shift + tab

Sys.stdout ---- output console

In [ ]:
print("Hello")

Hello

In [ ]:
print(123)

123

In [ ]:
age  = 21 #variable
print("my age is ",age)

my age is  21

Format specifier

In [ ]:
print("my age is : {age}")

my age is : {age}

In [ ]:
print(f"my age is : {age}")

my age is : 21

Format()

In [ ]:
## Format()
name = "shrungadithya"
age = 21
print("my name is {} and my age is {}".format(name,age))

my name is shrungadithya and my age is 21

In [ ]:
## Format()
name = "shrungadithya"
age = 21
print("my name is {} and my age is {}".format(age,name))

my name is 21 and my age is shrungadithya

In [ ]:
# placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is shrungadithya and age is 21

In [ ]:
name = "shrungadithya"
age = 21
degree = "Bvoc"

print("My age is {} and I have completed: My degree of {} with the name of {}".format(age,degree,name))

My age is 21 and I have completed: My degree of Bvoc with the name of shrungadithya

In [ ]:
name = "shrungadithya"
age = 21
degree = "Bvoc"

print(f"My age is {age} and I have completed: My degree of {degree} with the name of {name}")

My age is 21 and I have completed: My degree of Bvoc with the name of shrungadithya

In [ ]:
name = "shrungadithya"
age = 21
degree = "Bvoc"

print("My age is ",age," and I have completed: My degree of ",degree," with the name of",name)

My age is  21  and I have completed: My degree of  Bvoc  with the name of shrungadithya

## Control Flow
### Decision making statement

In [ ]:
# If statement
# ==, <=, >=

age = 10

if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are not eligible to vote

In [ ]:
# If statement
# ==, <=, >=

age = int(input("Enter the age"))

if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

In [ ]:
age = int(input("Enter the age"))

if age >=18 and age <= 45:
    print(" you are young boolded")

 you are young boolded

In [ ]:
product = int(input("Enter the product prize"))

if product > 1000 :
    print("The price of the product is {}".format(product*0.8))
else:
    print("The price of the product is {}".format(product*0.7))

The price of the product is 960.0

In [ ]:
1200*0.8

960.0

In [ ]:
100-80

20

In [ ]:
55/100 * 7500

4125.0

In [ ]:
(80 / 100 )

0.8

In [ ]:
product_price = int(input("Enter the price :"))
if product_price > 3000:
    if product_price == 4000:
        print("Congratulation you get an goa trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price >= 2000 and product_price <=3000:
    if product_price <= 2999:
        print("Congratulation you get additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price <=1000 and product_price <2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Enjoy shopping ,more")

Congratulation you get an goa trip
The price of the product is 3200.0

In [ ]:
# single statement
val = int(input("Enter the number:"))
if(val <= 999 ): print("Value is less then or equal to 999")

Value is less then or equal to 999

While loop

While is a kind of ittresion

In [ ]:
joining_age = 25
while joining_age <= 60:
    print(joining_age)
    joining_age += 1
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [ ]:
# ATM machine with 1000Rs

total_amount = 1000
while total_amount !=0:
    print(total_amount)
    total_amount = total_amount - 100
else:
    print("put more money bank people ")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

For loop

In [ ]:
list = ['adhi',20.02, 50]

In [ ]:
list[0]

'adhi'

In [ ]:
#FDd loop
list = ['adhi',20.02, 50]
# x is the tempravery element
# Itreate or travers
for x in list:
    print(x)

adhi
20.02
50

In [ ]:
name  = ["ram","adhi","raj","shiv"]

for i in name:
    print(i)
    if i == "adhi":
        print("Hii Adhi")

ram
adhi
Hii Adhi
raj
shiv

In [12]:
name = "shrungadithya"
for i in name:
    print(i)

s
h
r
u
n
g
a
d
i
t
h
y
a

String is a collection of elements

In [13]:
name[0]

's'

In [14]:
name = "shrungadithya"
for i in name:
    print(i,end="\n")

s
h
r
u
n
g
a
d
i
t
h
y
a

In [16]:
name = "shrungadithya"
for i in name: 
    print(i,end=" ")

s h r u n g a d i t h y a

In [18]:
range(1,6,2)

range(1, 6, 2)

In [19]:
n = 7

In [20]:
for i in range(n):
    print(i)

0
1
2
3
4
5
6

In [21]:
for i in range(1,n):
    print(i)

1
2
3
4
5
6

In [27]:
# nested loop

n = 7
for i in range(0,n):
    for i in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [28]:
# nested loop

n = 7
for i in range(0,n):
    for i in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

******

*******

i = (0,7)
j = (0,i+1)
i= 0

(0,1)

(0,1)(0,2)

(0,1)(0,2)(0,3)

(0,1)(0,2)(0,3)(0,4)

In [26]:
print('Python is included in CodeSpeedy\r123456')

123456 is included in CodeSpeedy

In [51]:
n  = 7
for i in range(0,n):
    for j in  range(0,i+1):
        
        print("*",end="")
        
    print("\r")

*
**
***
****
*****
******
*******

In [43]:
#break and continue

In [44]:
name  = ["ram","adhi","raj","shiv"]

In [48]:
for i in name:
    if i=="adhi":
        print("names are")
        break
    print(i)

ram
names are

In [49]:
for i in name:
    if i=="adhi":
        print("names are")
        pass
    print(i)

ram
names are
adhi
raj
shiv

In [50]:
for i in name:
    if i=="adhi":
        print("names are")
        continue
    print(i)

ram
names are
raj
shiv

In [3]:
n  = 7
k = n-1
for i in range(0,n):
   for j in range(0,k):
       print(end=" ")
   k = k - 1
   for j in  range(0,i+1):
         print("*",end=" ")
        
   print("\r")

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [62]:
n  = 7
for i in range(0,n):
    for j in  range(0,i+1):
        
        print("*",end="")
        
    print("\r")

*
**
***
****
*****
******
*******

In [63]:
# Python 3.x code to demonstrate star pattern
 
# Function to demonstrate printing pattern triangle
def triangle(n):
     
    # number of spaces
    k = n - 1
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # inner loop to handle number spaces
        # values changing acc. to requirement
        for j in range(0, k):
            print(end=" ")
     
        # decrementing k after each loop
        k = k - 1
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ", end="")
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *