# Strings and List

In [113]:
name = "Data Science Master"

In [114]:
name.swapcase()

'dATA sCIENCE mASTER'

In [115]:
name.upper()

'DATA SCIENCE MASTER'

In [116]:
name.lower()

'data science master'

In [117]:
name.capitalize()

'Data science master'

In [118]:
name.count("b")

0

In [119]:
name.count("a")

3

In [120]:
name.title()

'Data Science Master'

In [121]:
name.split(" ")

['Data', 'Science', 'Master']

In [122]:
name.format()

'Data Science Master'

In [123]:
## reversing string 

name[::-1]

'retsaM ecneicS ataD'

In [124]:
new = reversed(name)

In [125]:
new

In [126]:
" ".join(name)

'D a t a   S c i e n c e   M a s t e r'

In [127]:
"@".join(name)

'D@a@t@a@ @S@c@i@e@n@c@e@ @M@a@s@t@e@r'

In [128]:
' '.join(reversed(name))

'r e t s a M   e c n e i c S   a t a D'

In [129]:
" ".join("ant")

'a n t'

In [130]:
" ".join(reversed("ant"))

't n a'

In [131]:
"PwSkills ".join(reversed("ant"))

'tPwSkills nPwSkills a'

In [132]:
list(name)

['D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'M',
 'a',
 's',
 't',
 'e',
 'r']

In [133]:
list(reversed("ant"))

['t', 'n', 'a']

In [134]:
"skills".join(name)

'Dskillsaskillstskillsaskills skillsSskillscskillsiskillseskillsnskillscskillseskills skillsMskillsaskillssskillstskillseskillsr'

In [135]:
reversed(name)

In [136]:
" ".join(reversed(name))

'r e t s a M   e c n e i c S   a t a D'

In [137]:
#Removing character from the end of the string

In [138]:
for i in list(reversed(name)):
    print(i,end=" ")

r e t s a M   e c n e i c S   a t a D

In [139]:
name.format()

'Data Science Master'

In [140]:
string = " PwSkills "
string.strip(" ")

'PwSkills'

In [141]:
string.strip()

'PwSkills'

In [142]:
string.lstrip()

'PwSkills '

In [143]:
string.rstrip()

' PwSkills'

In [144]:
str_n = "Greeting to PwSkills"
str_n.replace("to","from")

'Greeting from PwSkills'

In [145]:
str_n = "Greeting to PwSkills"
str_n.replace("G","T")

'Treeting to PwSkills'

In [146]:
str = "test@gmail.com"
str_n = str.replace("@"," ")
str_n

'test gmail.com'

In [147]:
print(id(str))
print(id(str_n))

2308798657904
2308802098992

In [148]:
"Hello \nWorld"

'Hello \nWorld'

In [149]:
"Hello \tWorld".expandtabs()

'Hello   World'

In [150]:
str1 = "Welcome to pwskills.welcome to Dat cience master"

In [151]:
print(str1.replace("Dat","Data"))
print(str1.replace("cience","Science"))

Welcome to pwskills.welcome to Data cience master
Welcome to pwskills.welcome to Dat Science master

In [152]:
str1.replace("Dat","Data").replace("cience","Science")

'Welcome to pwskills.welcome to Data Science master'

In [153]:
str1

'Welcome to pwskills.welcome to Dat cience master'

In [154]:
str1.isupper()

False

In [155]:
str="SHRUNGADITHYA"
str.isupper()

True

In [156]:
str.islower()

False

In [157]:
str.isspace()

False

In [158]:
str = " new"
if str.isspace():
    print("hello")

In [159]:
if " ".isspace():
    print("hello")

hello

In [160]:
" ".isspace()

True

In [161]:
str.endswith("s")

False

In [162]:
str.startswith("S")

False

In [163]:
## Check if all the char to string are alphanumeric

a = "abcd"
a.isalnum()

True

In [164]:
## To count the number of character in the string

In [165]:
count = 0
for i in str1:
    count = count+1
print(count)

48

In [166]:
len(str1)

48

In [167]:
str2 = "pwskills"

In [168]:
for i in str2:
    print(i)

p
w
s
k
i
l
l
s

In [169]:
range(len(str2))

range(0, 8)

In [170]:
for i in range(len(str2)):
    print(i)

0
1
2
3
4
5
6
7

In [171]:
for i in range(len(str2)):
    print(str2[i])

p
w
s
k
i
l
l
s

In [172]:
for i in range(len(str2)):
    print(i,"=",str2[i])

0 = p
1 = w
2 = s
3 = k
4 = i
5 = l
6 = l
7 = s

In [173]:
#we can use index to iterate string reverse direction

In [174]:
str2

'pwskills'

In [175]:
range(0,len(str2))

range(0, 8)

In [176]:
n = range(len(str2)-1,-1,-1)
for i in n:
    print(str2[i])

s
l
l
i
k
s
w
p

In [180]:
ch = len(str2)-1
while ch >= 0:
    print(str2[ch])
    ch = ch-1

s
l
l
i
k
s
w
p

In [183]:
for i in range(len(str2)):
    print(str2[len(str2)-(i+1)],end="")

sllikswp

In [190]:
name = "pwskills"
vowels = "AaEeIiOoUu"

In [187]:
for i in name:
    if i == vowels:
        print(i,"vowels")
    else:
        print(i,"Not an vowels")

p Not an vowels
w Not an vowels
s Not an vowels
k Not an vowels
i Not an vowels
l Not an vowels
l Not an vowels
s Not an vowels

In [193]:
for i in name:
    if i in vowels:
        print("{} is a vowel ".format(i))
    else:
        print("{} is not a vowel ".format(i))

p is not a vowel
w is not a vowel
s is not a vowel
k is not a vowel
i is a vowel
l is not a vowel
l is not a vowel
s is not a vowel

# List

In [194]:
type([])

list

In [195]:
[]

[]

In [196]:
["ram","raj","sham"]

['ram', 'raj', 'sham']

In [198]:
list([1,2,3,4,6,5])

[1, 2, 3, 4, 6, 5]

In [199]:
[1,2,3,4,6,5]

[1, 2, 3, 4, 6, 5]

In [1]:
str

str

In [3]:
name = "Data Science Master"

In [4]:
list(name)

['D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'M',
 'a',
 's',
 't',
 'e',
 'r']

In [5]:
list(name.split(" "))

['Data', 'Science', 'Master']

In [6]:
list1 = list(name.split(" "))

In [7]:
list1

['Data', 'Science', 'Master']

In [8]:
list1[1]

'Science'

In [9]:
list1[::1]

['Data', 'Science', 'Master']

In [11]:
list1[:1]

['Data']

In [12]:
list1[::-1]

['Master', 'Science', 'Data']

In [14]:
list1[0]="pw"

In [15]:
list1

['pw', 'Science', 'Master']

In [17]:
## concatenation operation

list1 + ["data"]

['pw', 'Science', 'Master', 'data']

In [19]:
list2 = list1 + [["data",2]]

In [20]:
list2

['pw', 'Science', 'Master', ['data', 2]]

In [22]:
list2[-1][0]

'data'

In [23]:
list2 * 2

['pw',
 'Science',
 'Master',
 ['data', 2],
 'pw',
 'Science',
 'Master',
 ['data', 2]]

In [34]:
if "Science" in list2:
    print("present")

present

In [36]:
for i in list2:
    if i == "Science":
        print(i)
        break

Science

In [38]:
list3 = [1,2,3,4,5]

In [39]:
list3

[1, 2, 3, 4, 5]

In [40]:
4 in list3

True

In [41]:
2.0 in list3

True

In [44]:
max(list3)

5

In [48]:
list4=list(name.split(" "))

In [49]:
max(list4)

'Science'

In [50]:
min(list4)

'Data'

In [52]:
1.999999999999 in [2,4,5]

False

In [53]:
2 in [2,4,5]

True

In [55]:
list2.append("new")

In [56]:
list2

['pw', 'Science', 'Master', ['data', 2], 'new']

In [58]:
list2.pop() #Default -1

'new'

In [64]:
list2

['pw', 'Science', 'Master', ['data', 2]]

In [70]:
m= list2[1].pop(-1)
m

AttributeError: 'str' object has no attribute 'pop'

In [66]:
L = ['a', ['bb', 'cc', 'dd'], 'e']
x = L[1].pop(1)
print(L)

['a', ['bb', 'dd'], 'e']

In [71]:
list2

['pw', 'Science', 'Master', ['data', 2]]

In [72]:
list2.insert(1,"Data")

In [73]:
list2

['pw', 'Data', 'Science', 'Master', ['data', 2]]

In [75]:
new = list2[1].pop(1)

AttributeError: 'str' object has no attribute 'pop'

In [76]:
# sorting and reverse method in list

In [78]:
new_list = ['q',"f",'d','g','k']

In [79]:
new_list[::-1]

['k', 'g', 'd', 'f', 'q']

In [80]:
#inplace operator
new_list.reverse()

In [81]:
new_list

['k', 'g', 'd', 'f', 'q']

In [82]:
new_list.sort()

In [84]:
new_list

['d', 'f', 'g', 'k', 'q']

In [85]:
name

'Data Science Master'

In [86]:
list2

['pw', 'Data', 'Science', 'Master', ['data', 2]]

In [88]:
list2.pop(4)

['data', 2]

In [92]:
list2

['pw', 'Data', 'Science', 'Master', 2, 2]

In [93]:
list2.append(2)
list2

['pw', 'Data', 'Science', 'Master', 2, 2, 2]

In [102]:
list2

['pw',
 'Data',
 'Science',
 'Master',
 2,
 ['pw', 'skills'],
 'new',
 'life',
 'new',
 'life']

In [97]:
list2.append(["pw","skills"])

In [99]:
list2

['pw', 'Data', 'Science', 'Master', 2, ['pw', 'skills']]

In [101]:
list2.extend(["new","life"])
list2

['pw',
 'Data',
 'Science',
 'Master',
 2,
 ['pw', 'skills'],
 'new',
 'life',
 'new',
 'life']

In [103]:
list = [1,2,3,4,5]
list.extend(["pw","new"])

In [104]:
list

[1, 2, 3, 4, 5, 'pw', 'new']

# Nested List

In [105]:
# Let's make three lists
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]

#make a list of lists to form a matrix
matrix = [list_1,list_2,list_3]

In [106]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [108]:
print(matrix[1][2])

6

In [113]:
print(matrix[2][1:])

[8, 9]

In [117]:
print(matrix[::3][0])

[1, 2, 3]

In [121]:
matrix[::3][2]

IndexError: list index out of range

In [122]:
# List comprehension

[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [124]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [128]:
[i if i%2==0 else "odd" for i in range(20)]

[0,
 'odd',
 2,
 'odd',
 4,
 'odd',
 6,
 'odd',
 8,
 'odd',
 10,
 'odd',
 12,
 'odd',
 14,
 'odd',
 16,
 'odd',
 18,
 'odd']

In [132]:
[i if i%2!=0 else "even" for i in range(0,20)]

['even',
 1,
 'even',
 3,
 'even',
 5,
 'even',
 7,
 'even',
 9,
 'even',
 11,
 'even',
 13,
 'even',
 15,
 'even',
 17,
 'even',
 19]

In [133]:
["odd" if i%2!=0 else "even" for i in range(0,20)]

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [134]:
list = [1,2,3,4,5,6,7,8]

In [135]:
list

[1, 2, 3, 4, 5, 6, 7, 8]

In [154]:
# even = 0
# odd = 0
# j=0
# [i if i%2==0 else j for i in list]

# even += i
# odd += j

# print(even)
# print(odd)

8
0

In [151]:
even=0
odd=0
for i in list:
    if i%2==0:
        even +=i
    else:
        odd +=i
print(even)
print(odd)

20
16

In [157]:
sum_even = sum([num for num in list if num%2==0])
sum_odd = sum([num for num in list if num%2!=0])
print(sum_even)
print(sum_odd)

20
16

In [159]:
list = [1,2,3,4,5,6,7,8,9,10]
[i*i for i in list]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [160]:
list = [1,2,3,4,5,6,7,8,9,10]
[i**2 for i in list]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [161]:
num = [-2,-1,0,1,2,3,4]
[i for i in num]

[-2, -1, 0, 1, 2, 3, 4]

In [169]:
[i for i in num if i>0 ]

[1, 2, 3, 4]

In [170]:
words= ["Apple","Banana","Cherry",'date']

In [171]:
[word[0] for word in words]

['A', 'B', 'C', 'd']

In [172]:
#temparature into selsius

# (9/5)*temp+32

In [176]:
# convert s list of temperatures from celsius to fahrenheit using list comprehension

celsius_temperatures = [0,10,20,30,40,50]

[(9/5)*i+32 for i in celsius_temperatures ]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [201]:
# Flatten a list of list into a single list
lists = [[1,2,3],[4,5,6],[7,8,9]]
new = []
[new.extend[i] for i in lists]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [200]:
# lists = [[1,2,3],[4,5,6],[7,8,9]]
# [new.extend for i in lists for m in i]
# print(m)

In [195]:
[num for sublist in lists for num in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [209]:
# using both code and list comprehension

# create a list of only prime numbers from a given list

number = [1,2,3,4,5,6,7,8,9,10]

[f"{i} is not a prime number" if i%2==0 else f"{i} is a prime umber" for i in number  ]

['1 is a prime umber',
 '2 is not a prime number',
 '3 is a prime umber',
 '4 is not a prime number',
 '5 is a prime umber',
 '6 is not a prime number',
 '7 is a prime umber',
 '8 is not a prime number',
 '9 is a prime umber',
 '10 is not a prime number']

In [206]:
# create a list of all possible combination of 2 element from list

num = [1,2,3,4,5]

In [210]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

prime_numbers = [f"{i} is not a prime number" if any(i % j == 0 for j in range(2, i)) else f"{i} is a prime number" for i in number]

print(prime_numbers)

['1 is a prime number', '2 is a prime number', '3 is a prime number', '4 is not a prime number', '5 is a prime number', '6 is not a prime number', '7 is a prime number', '8 is not a prime number', '9 is not a prime number', '10 is not a prime number']

In [211]:
num

[1, 2, 3, 4, 5]

In [213]:
[i for i in num]

[1, 2, 3, 4, 5]

In [217]:
[i for i in num]

[1, 2, 3, 4, 5]

In [1]:
# create a list of all possible combination of 2 element from list

num = [1,2,3,4,5]

In [3]:
[i for i in num for j in i ]

TypeError: 'int' object is not iterable

In [9]:
for i in num:
    for j in i:
        new = (num[i],num[j])
        j+=1
    i+=1
print(new)

TypeError: 'int' object is not iterable