In [1]:
x = 4
cube = x ** 4
print(x,cube)

4 256

In [5]:
# Explicit converstion also called type casting

icecream = '25'
brownie = "45"
price = icecream + brownie
print("Total price Rs "+ price)
price = int(icecream) + int(brownie)
print("Total price Rs "+ str(price))

Total price Rs 2545
Total price Rs 70

In [4]:
#implicit conversion also called as coercion
n = 10
m = 20.0
sum = n+m
print(sum)
print(type(sum))

30.0
<class 'float'>

In [5]:
# Syntax Error

(10+20]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (1742968507.py, line 3)

In [6]:
# LOgical error

10+12/2

16.0

In [7]:
(10+12)/2

11.0

In [13]:
# Runtime Error

n=10
m = int(int[input(" m =")])

print(n/m)

TypeError: 'type' object is not subscriptable

In [14]:
n = int(input("Enter a number for computing the factor"))
# print(1,end=' ')
factor = 2
while factor <= n/2:
    if n % factor == 0:
        print(factor,end=' ')
        factor += 1
#print(n,end=' ')

2 3

In [1]:
x = 10
x + 20
print(x)

10

In [2]:
x = 4
cube = x**3
print(x,cube)

4 64

In [3]:
x = int(input("Enter the number:"))
cube = x ** 3
print(x, cube)

10 1000

In [4]:
# Explicit type conversion

n= 10
m=20
sum = n + m
print(sum)
print(type(sum))
sum1 = float(n+3)
print(sum1)
print(type(sum1))

30
<class 'int'>
13.0
<class 'float'>

In [6]:
# Explicit converstion also called type casting

icecream = '25'
brownie = "45"
price = icecream + brownie
print("Total price Rs "+ price)
price = int(icecream) + int(brownie)
print("Total price Rs "+ str(price))

Total price Rs 2545
Total price Rs 70

In [7]:
#implicit conversion also called as coercion
n = 10
m = 20.0
sum = n+m
print(sum)
print(type(sum))

30.0
<class 'float'>

In [11]:
# Syntax error
(10+2]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (50890243.py, line 2)

In [12]:
# Logical error
10+12/2

16.0

In [14]:
(10+12)/2

11.0

In [16]:
# Run time error
n = 100
m = int(input("x ="))
print(n/m)

ZeroDivisionError: division by zero

In [20]:
n = 7
print(1,end = ' ')
factor = 2

while factor <= n/2:
    if n % factor == 0:
        print(factor,end=" ")
        factor += 1
print(n, end="")

1

KeyboardInterrupt:

In [21]:
num = 10
i=1
while i<= num:
    if num % i == 0:
        print(i)
    i = i+1

1
2
5
10

In [23]:
# break statement

num = 0
for num in range(10):
    num = num +1
    if num == 8:
        break
    print("num has value",str(num))
print("Encountered the break statement")

num has value 1
num has value 2
num has value 3
num has value 4
num has value 5
num has value 6
num has value 7
Encountered the break statement

In [25]:
# Nested loop

num = int(input("Enter the number to generate the pattern"))
for i in range(1,num):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [38]:
# Nested loop

num = int(input("Enter the number to generate the pattern"))
k = num -1 
for i in range(0,num):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")

    *
   * *
  * * *
 * * * *
* * * * *

In [1]:
# Nested loop

num = int(input("Enter the number to generate the pattern"))
k = num -1 
for i in range(0,num):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [2]:
# Function

print("Enter value for the cylindrical part of the tent in meter")
h = float(input("Enter the height of the cylindrical part :"))
r = float(input("Enter the radius :"))
l = float(input("Entre the slant height :"))

csa_conical = 3.14*r*l 
csa_cylin = 2*3.14*r*h  # cylinder formula

canvas_area = csa_conical + csa_cylin
print("The area of the canvas is: ", canvas_area, "m^2")
unit_price = float(input("Enter the cost of 1 m^2 canvas"))
total_cost = unit_price*canvas_area
print("The Total cost",total_cost)

#tax
tax = 0.18*total_cost
net_price = total_cost*tax
print("net price",net_price)

Enter value for the cylindrical part of the tent in meter
The area of the canvas is:  204.10000000000002 m^2
The Total cost 5102.500000000001
net price 4686391.125000002

In [15]:
def cyl(h,r):
    area_cyl = 2*3.14*r*h
    return (area_cyl)

def con(l,r):
    area_con = 3.14*r*l
    return (area_con)

def post_tax(cost):
    tax = 0.18*cost
    netprice = cost + tax
    return (netprice)

In [14]:

print("Enter the value of tent in meters")
h = float(input("height :"))
r = float(input("Radius :"))
csa_cyl = cyl(h,r)
l = float(input("slant height"))
csa_con = con(l,r)
canvas_area = csa_cyl + csa_con
print("Area of canvas = ", canvas_area, "m6")
unitprice = float(input("ENter the unit price"))
totalcost = unitprice * canvas_area
print("Total cost of canvas before tax =",totalcost)
print("Net amount payable (including tax) = ",post_tax(totalcost))

Enter the value of tent in meters
Area of canvas =  427.04 m6
Total cost of canvas before tax = 10676.0
Net amount payable (including tax) =  12597.68

In [16]:
def cyl(h,r):
    area_cyl = 2*3.14*r*h
    return (area_cyl)

def con(l,r):
    area_con = 3.14*r*l
    return (area_con)

def post_tax(cost):
    tax = 0.18*cost
    netprice = cost + tax
    return (netprice)

def rect(l,b):
    area_rect = l*b
    return area_rect

In [17]:

print("Enter the value of tent in meters")
len = float(input("length :"))
bre = float(input("Breadth :"))
r = float(input("Radius :"))
l = float(input("slant height"))
csa_rect = rect(len,bre)
csa_con = con(l,r)
canvas_area = csa_cyl + csa_con
print("Area of canvas = ", canvas_area, "m6")
unitprice = float(input("ENter the unit price"))
totalcost = unitprice * canvas_area
print("Total cost of canvas before tax =",totalcost)
print("Net amount payable (including tax) = ",post_tax(totalcost))

Enter the value of tent in meters
Area of canvas =  263.76 m6
Total cost of canvas before tax = 6594.0
Net amount payable (including tax) =  7780.92

In [18]:
def incrvalue(num):
    print("parameter num has value",num,"\nid = ",id(num))
    num = num+5
    print("num increment by 5 is",num,"\n now id is",id(num))

In [19]:
number = int(input("Enter the number:"))
print("id of the argument number is:",id(number))

incrvalue(number)

id of the argument number is: 1930042540400
parameter num has value 5
id =  1930042540400
num increment by 5 is 10
 now id is 1930042540560

In [20]:
# Mixied fraction

# 5 1/2

# 5.5

In [22]:

def mixedfraction(num, deno = 1):
    remainder = num%deno
    if remainder != 0:
        quotient = int(num/deno)
        print("The mixed fraction = ", quotient,"(",remainder, "/",deno,")")
    else:
        print("The given fraction evaluated to a whole number")

In [24]:
num = int(input("Enter the number:"))
deno = int(input("Enter the denominator: "))
print("You entered :",num,"/",deno)
if num > deno:
    mixedfraction(num,deno)
else:
    print("It is a proper fraction")

You entered : 17 / 2
The mixed fraction =  8 ( 1 / 2 )